@CHARSET "ISO-8859-1";

body {
	font-family: Calibri;
	
}

table td.content{
	padding: 20px 10px 10px 20px;
	background-color: #E7E7E7;
}

th#data{
	background-color: #467DF5;
	color: white;
}
td#data{
	background: #A9C4FF;
	padding: 10px 10px 10px 10px
}